exportPattern("^[[:alpha:]]+")
import(doParallel)
import(GenomicRanges)
import(dbscan)
import(diffuStats)
import(plyr)
importFrom("stats", "dist", "kmeans", "prcomp", "setNames", "cor")
importFrom("igraph", "as.undirected")
importFrom("IRanges", "IRanges")